# Vanta Linux - SYSLINUX header
UI menu.c32
PROMPT 0
MENU TITLE Vanta Linux Live
TIMEOUT 50
DEFAULT vanta

MENU COLOR border       30;44   #40ffffff #10ffffff std
MENU COLOR title        1;36;44 #ff3b78c0 #10ffffff std
MENU COLOR sel          7;37;44 #e0666100 #10ffffff std
MENU COLOR unsel        37;44   #ffffffff #10ffffff std
MENU COLOR shortcut     0;37;44 #ffffffff #10ffffff std
MENU COLOR hotkey       1;37;44 #ffffffff #10ffffff std
MENU COLOR hotsel       1;7;37;44 #e0666100 #10ffffff std
MENU COLOR scrollbar    30;44   #10ffffff #10ffffff std
