# Vanta Linux - SYSLINUX/ISOLINUX configuration for BIOS boot
INCLUDE archiso_head.cfg

LABEL vanta
  TEXT HELP
  * Vanta Linux Live
  ENDTEXT
  LINUX /vanta/boot/vmlinuz-linux
  INITRD /vanta/boot/amd-ucode.img,/vanta/boot/initramfs-linux.img
  APPEND archisobasedir=vanta quiet splash nvidia-drm.modeset=1 nvidia-drm.fbdev=1

LABEL vantafallback
  TEXT HELP
  * Vanta Linux Live (NVIDIA Safe Mode - no modeset)
  ENDTEXT
  LINUX /vanta/boot/vmlinuz-linux
  INITRD /vanta/boot/amd-ucode.img,/vanta/boot/initramfs-linux.img
  APPEND archisobasedir=vanta quiet splash nomodeset nvidia-drm.modeset=0

LABEL hdt
  TEXT HELP
  * HDT (Hardware Detection Tool)
  ENDTEXT
  COM32 hdt.c32

LABEL reboot
  TEXT HELP
  * Reboot the system
  ENDTEXT
  COM32 reboot.c32

LABEL poweroff
  TEXT HELP
  * Power off the system
  ENDTEXT
  COM32 poweroff.c32

INCLUDE archiso_tail.cfg
