# Vanta Linux GRUB configuration
GRUB_THEME="/boot/grub/themes/vanta/theme.txt"
GRUB_GFXMODE=auto
GRUB_GFXPAYLOAD_LINUX=keep
GRUB_BACKGROUND=""
GRUB_COLOR_NORMAL="0xaeaeb2/0x0c0c0d"
GRUB_COLOR_HIGHLIGHT="0xe66100/0x0c0c0d"
GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu
GRUB_HIDDEN_TIMEOUT=0
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash nvidia-drm.modeset=1 nvidia-drm.fbdev=1"
GRUB_DISABLE_OS_PROBER=false
GRUB_DISABLE_SUBMENU=y
GRUB_SAVEDEFAULT=true
